/JavaApplication/nbproject/private/
/JavaApplication/build/
/WebApplication/nbproject/private/
/WebApplication/build/
/WebApplication - 복사본/build/
/WebApplication - 복사본/nbproject/private/
/WebApplicationTest/build/
/WebApplicationTest/nbproject/private/